.pagination {
  margin: 15px auto;
  list-style: none;
  outline: none;
}

.pagination > .active > a{
  background-color: #eb689a ;
  border-color: #e597db ;
  color: #fff;
}

.pagination > li > a{
  border: 1px solid #fc7a8b ;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}

.sort-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  flex-wrap: wrap;

  @include mobile {
    margin: 1.2rem;
    font-size: 0.8rem;
  }
}

.filter {
  &__text-box {
    width: fit-content;
    min-width: 126px;
    padding: 0.8rem;
    border: 2px solid grey;
    border-radius: 4px;
    margin-top: 0.4rem;

    @include mobile {
      min-width: 95px;
    }
  }

  &__dropdown {
    position: absolute;
    background: whitesmoke;
    padding: 0.8rem 0;

    &-item  {
      padding: 0.8rem 1.8rem;
      &:hover {
        background: pink;
      }
    }
  }
}

.search-box {

  &__input {
    padding: 0.8rem;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-top: 0.4rem;

    @include mobile {
      font-size: 0.8rem;
    }
  }
}

.page-input {
  width: fit-content;
}

.bank-table {
  overflow: auto;

  &__container {
    width: max-content;
    border: 1px solid;
    border-radius: 8px;
    margin: 1.6rem 1.6rem 1.6rem 0;
    padding: 1rem;
  }
}

.navigate-btn {
  background: lightpink;
  border-radius: 10px;
  padding: 4px;
}